# Copy to .env and fill values
PORT=5200
IBM_API_KEY=5cFF0FQ0QRBNGicOn2tY8xyPnBDO0v036arHivHMOGUI
IBM_PRIVATE_ENDPOINT=https://private.eu-de.ml.cloud.ibm.com
IBM_PUBLIC_ENDPOINT=https://eu-de.ml.cloud.ibm.com
DEPLOYMENT_ID=019f1c3a-0ebd-772d-88af-9348305c1110
API_VERSION=2021-05-01
